.title {
    padding: 40px;
    background: lightblue;
    font-family: 'Outfit', sans-serif;
    font-size: 100px;
}

.aside {
   padding: 10px;
    background: lightgray;
    border-top: black solid 2px;
    font-family: 'Outfit', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 400px auto 600px auto;
    grid-template: 
    "header"
    "form"
    "aside"
    "main"
    "div";
}

 .beitrag {
    font-family: 'Outfit', sans-serif;
    border-top: black solid 2px;
   
 }

 .block {
     display: block;
     margin-top: 20px;
     margin-bottom: 20px;
     }

     a:link {
         text-decoration: none;
         color: white;
     }

     a:hover {
         color:lightblue;
     }

     .formular {
         margin-top: 20px;
     }

     .error {
            border: 2px solid darkred;
            border-radius: 5px;
            background: lightcoral;
     }
