.title {
    background: rgb(82, 82, 235);
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    color: #ece8e8;
}

.aside {
   padding: 10px;
    background: #ece8e8;
    border-top: black solid 2px;
    font-family: 'Outfit', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 400px auto 600px auto;
    grid-template: 
    "header"
    "aside"
    "form"
    "main"
    "div";
}

 .beitrag {
    font-family: 'Outfit', sans-serif;
    background: rgb(82, 82, 235);
   border-top: black solid 2px;
 }

 .block {
     display: block;
     margin-top: 40px;
     margin-bottom: 20px;
     font-family: 'Outfit', sans-serif;
     background: whitesmoke;
     }

     a:link {
         text-decoration: none;
         font-family: 'Outfit', sans-serif;
         color: black;
  
         
     }

     a:hover {
         color: rgb(82, 82, 235);
     }

     .formular {
         margin-top: 20px;
         padding: 5px;
         background: whitesmoke;
         border-top: black solid 2px;
         font-family: 'Outfit', sans-serif;
         display: block;
     }

     .error {
            border: 2px solid darkred;
           border-radius: 10px;
            background: rgb(253, 195, 195);
            font-family: 'Outfit', sans-serif;
     }

     .header {
         background: rgb(82, 82, 235);
         color: black;
     }

     .beitragteil {
         border-top: black solid 2px;
         border-bottom: black solid 2px;
         background: whitesmoke;
         color: black;
         font-family: 'Outfit', sans-serif;

     }

     .home {
         display: flex;
         justify-content: center;
         background: rgb(82, 82, 235);
    font-family: 'Outfit', sans-serif;
    font-size: 100px;
    color: #ece8e8;
    padding-bottom: 40px;
}

.hintergrund {
    background: rgb(82, 82, 235);
}
     
.titel {
    background: rgb(82, 82, 235);
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    color: #ece8e8;
    padding-top: 40px;
    margin-left: 200px;
}